.media {
  color: var(--blue);

  #media-artist {
    color: var(--overlay-2);
  }

  &.is-paused {
    color: var(--overlay-0);

    #media-artist {
      color: var(--overlay-0);
    }
  }
}

#media-title,
#media-artist {
  font-size: 0.8rem;
  overflow: hidden;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
}

#media-title {
  min-width: 50px;
  margin-right: 20px;
}

#media-artist {
  max-height: 23px; /* about 2 lines */
  margin-top: 2px;
}
