.bar-status-item {
  width: 100%;
  padding: 0 2px;

  &:hover {
    .bar-outline {
      opacity: 0;
      transform: translateY(200%);
    }

    .bar-value {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  --high-usage: var(--red);
  &.high-usage {
    color: var(--high-usage);

    .bar {
      background-color: var(--high-usage);
    }
  }
}

.bar-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
}

.bar-group .bar-wrapper:not(:first-child) {
  margin-top: 5px;
}
