.workspaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2px;
}

.workspace-btn {
  width: 100%;
  border: 1px solid var(--base);
  border-radius: 12px;
  background: var(--mantle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--surface-1);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    padding: 4px 0;
  }

  &.displayed,
  &.focused,
  &:hover {
    background: var(--surface-1);
    color: var(--text);
    border-color: var(--surface-2);
  }

  &.focused,
  &:hover {
    color: var(--mauve);
  }

  &:not(:first-child) {
    margin-top: 10px;
  }
}
